.form-container {
  width: 400px; /* Adjust width as needed */
  margin: 0 auto; /* Center the form horizontally */
  padding: 20px;
  border: 1px solid #ccc; /* Add a border */
  border-radius: 5px; /* Add rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  background-color: #f9f9f9; /* Set background color */
}

.form-container h2 {
  text-align: center; /* Center the heading */
}

.form-container label {
  display: block;
  margin-bottom: 5px;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container select,
.form-container textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-container button {
  width: 100%;
  padding: 10px;
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px; /* Add margin bottom */
}

.form-container button:last-child {
  margin-bottom: 0; /* Remove margin bottom for the last button */
}

.form-container button:hover {
  background-color: #0056b3; /* Darken the background color on hover */
}

.text-danger {
  color: red;
  font-size: 12px;
}
