<nav class="navbar navbar-expand-lg navbar-light bg-lightblue">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="'/'">ATU Sligo Societies</a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <!-- Home Button -->
          <li class="nav-item">
            <button mat-button class="action-button" [routerLink]="'/'">Home</button>
          </li>
  
          <!-- Student List Button (displayed only if user is authenticated) -->
          <li class="nav-item" *ngIf="auth.isAuthenticated$ | async">
            <button mat-button class="action-button" [routerLink]="'/students'" (click)="navigateToStudents()">Student List</button>
          </li>
  
          <!-- Societies Button (displayed only if user is authenticated) -->
          <li class="nav-item" *ngIf="auth.isAuthenticated$ | async">
            <button mat-button class="action-button" [routerLink]="'/societies'" (click)="navigateToSocieties()">Societies</button>
          </li>
  
          <!-- Log Out Button (displayed only if user is authenticated) -->
          <li class="nav-item" *ngIf="auth.isAuthenticated$ | async">
            <button mat-button class="action-button" (click)="handleLogOut()">Log Out</button>
          </li>
  
          <!-- Log In Button (displayed only if user is not authenticated) -->
          <li class="nav-item" *ngIf="!(auth.isAuthenticated$ | async)">
            <button mat-button class="action-button" (click)="handleLogIn()">Log In</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  